node_modules/
logs/*
!logs/Readme.md
config/*
!config/Readme.md
coverage/
public/uploads/images/controllers/*
!public/uploads/images/controllers/Readme.md
public/shop/images/*
!public/shop/images/Readme.md